@import 'reset';
@import 'font';

:root {
    --color-black: #181818;
}

* {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

header {
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 0 9.5rem 0 9.5rem;
    background-color: var(--color-black);
    font-family: "Poppins";
    


    .header_item-nav {
        gap: 32px;
        justify-content: center;
        font-size: 0.938rem;
        align-items: center;
        flex-wrap: wrap;
        a {
            color: #fff;
            transition: .5s;
        }

        a:last-child {
            background-color: #fff;
            padding: 12px;
            color: #181818;
            border-radius: 14px;
        }
        a:nth-child(n+1):nth-child(-n+7):hover {
            color: #7a7a7a;
        }
        a:last-child:hover {
            background-color: var(--color-black);
            color: #fff;
        }
    }

}
